table(style='width:100%', border='2')
    tr
            each val in headers
                td= val
    each val, index in ids
        tr
            td= val
            td= names[index]
            td= phone_numbers[index]
            td= emails[index]