table(style='width:100%', border='2')
    tr
            each val in headers
                td= val
    each val, index in displayName
        tr
            td= val
            td= firstName[index]
            td= lastName[index]
            td= normalizedNumber[index]
            td= address[index]
            td= email[index]