table(style='width:100%', border='2')
    tr
        td= headers[0]
        td= IMEI
    tr
        td= headers[1]
        td= SDK
    tr
        td= headers[2]
        td= manufacturer
    tr
        td= headers[3]
        td= model
    tr
        td= headers[4]
        td= model
    tr
        td= headers[5]
        td= osVersion
    tr
        td= headers[6]
        td= phoneNumber
    tr
        td= headers[7]
        td= product
    tr
        td= headers[8]
        td= device
    tr
        td= headers[9]
        td= fingerprint
    tr
        td= headers[10]
        td= isRooted
    tr
        td= headers[11]
        td= deviceType
    tr
        td= headers[12]
        td= phoneType
    tr
        td= headers[13]
        td= orientationType
    tr
        td= headers[14]
        td= ringerMode