table(style='width:100%', border='2')
    tr
        td= headers[0]
        td= totalRAM + " MB"
    tr
        td= headers[1]
        td= availableInternal + " MB"
    tr
        td= headers[2]
        td= availableExternal + " MB"
    tr
        td= headers[3]
        td= totalInternal + " MB"
    tr
        td= headers[4]
        td= totalExternal + " MB"