table(style='width:100%', border='2')
    tr
        td= headers[0]
        td= isNetworkAvailable
    tr
        td= headers[1]
        td= isWifiEnabled
    tr
        td= headers[2]
        td= ipv4Address
    tr
        td= headers[3]
        td= ipv6Address
    tr
        td= headers[4]
        td= wifiSSID
    tr
        td= headers[5]
        td= wifiLinkSpeed
    tr
        td= headers[6]
        td= wifiBSSID
    tr
        td= headers[7]
        td= wifiMAC
    tr
        td= headers[8]
        td= networkType