table(style='width:100%', border='2')
    tr
        td= headers[0]
        td= simSerialNumber
    tr
        td= headers[1]
        td= country
    tr
        td= headers[2]
        td= carrier
    tr
        td= headers[3]
        td= isSimNetworkLocked
    tr
        td= headers[4]
        td= isMultiSim
    tr
        td= headers[5]
        td= numberOfActiveSim